@model IEnumerable<KafeHaruno.Entities.Tables>

@{
    ViewData["Title"] = "Tables";
}

<h1>Tables</h1>


<div class="row">
    @foreach (var table in Model)
    {
        <div class="col-md-3 mb-3">
            <!-- We create a button for each table -->
            <form asp-controller="Table" asp-action="Details" method="get">
                <input type="hidden" name="id" value="@table.Id" />
                <button type="submit"
                        class="btn btn-block @((table.IsFull) ? "btn-secondary" : "btn-success")">
                    <!-- The color of the button is set according to the IsFull state -->
                    Table @table.Id <!-- The table ID will be displayed on the button -->
                </button>
            </form>
        </div>
    }
</div>
<div style="display: flex; justify-content: flex-end; margin-top: 20px; height:50px; width:1120px ; text-align: center;">

    @if (Context.User.Identity.IsAuthenticated)
    {
        var userRole = Context.User.FindFirst("Role")?.Value; // get the user role

        <li class="nav-item" style="list-style-type: none;">
            @if (userRole == "Waiter/Waitress")
            {
                <a class="btn btn-primary" asp-controller="User" asp-action="SecurePage" style="margin-left: auto;">
                    Back to Main Page
                </a>
            }
            else if (userRole == "Admin")
            {
                <a class="btn btn-primary" asp-controller="Admin" asp-action="SecurePage" style="margin-left: auto;">
                    Back to Main Page
                </a>
            }
        </li>
    }
</div>
