﻿@{
    ViewData["Title"] = "Home Page";
}

<style>
    .nav-list-admin {
        display: flex; /* Use Flexbox */
        list-style: none; /* Remove list markers */
        padding: 0; /* Remove default insets */
        margin: 0; /* Remove default outsets */
        justify-content: center; /* Center elements horizontally */
        margin-top: 150px; /* Add space at the top of the list */
    }

    .nav-item-admin {
        position: relative; /* For positioning */
        margin-right: 150px; /* Add space between elements */
    }

    .nav-link-admin {
        display: block; /* For full coverage */
        width: 150px; /* Button width */
        height: 150px; /* Button height */
        text-align: center; /* Center text */
        color: white; /* Set text color to white */
        text-decoration: none; /* Remove underline */
        background-size: contain; /* Set to cover background image */
        background-repeat: no-repeat; /* Do not repeat background image */
        background-position: center; /* Center background image */
        border-radius: 8px; /* Round edges */
    }


    .users-link-admin {
        background-image: url('https://cdn.textstudio.com/text-effect/2297/0dd88/Accounts.webp'); 
    }

    .invoices-link-admin {
        background-image: url('https://cdn.textstudio.com/text-effect/2297/a018a/Bills.webp'); 
    }
    .order-link-admin {
        background-image: url('https://cdn.textstudio.com/text-effect/2297/3c52d/Orders.webp');
    }


    .product-link-admin {
        background-image: url('https://cdn.textstudio.com/text-effect/2297/7cb0d/Products.webp'); 
    }


    .table-link-admin {
        background-image: url('https://cdn.textstudio.com/text-effect/2297/18359/Tables.webp');
    }
</style>

<div class="text-center" style="margin-top: 50px;">
    <h1 class="display-4">Welcome Kafe Haruno</h1>
</div>

<div class="text-center" style="margin-top: 50px;">
    <ul class="nav-list-admin">
        <li class="nav-item-admin">
            <a class="nav-link-admin users-link-admin" asp-controller="Admin" asp-action="Index"></a>
        </li>
        <li class="nav-item-admin">
            <a class="nav-link-admin invoices-link-admin" asp-controller="Bill" asp-action="AdminIndex"></a>
        </li>
        <li class="nav-item-admin">
            <a class="nav-link-admin order-link-admin" asp-controller="Order" asp-action="AdminIndex"></a>
        </li>
        <li class="nav-item-admin">
            <a class="nav-link-admin product-link-admin" asp-controller="Product" asp-action="AdminIndex"></a>
        </li>
        <li class="nav-item-admin">
            <a class="nav-link-admin table-link-admin" asp-controller="Table" asp-action="AdminIndex"></a>
        </li>
    </ul>
</div>