@if (Context.User.Identity.IsAuthenticated) // Kullanıcı doğrulanmış mı?
{
    <form asp-controller="Home" asp-action="LogOut" method="post" id="logoutForm" class="navbar-nav">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn">Log Off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Login">Log in</a>
        </li>
    </ul>
}
