@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: #f0f4ff; /* General page background color (light blue) */
    }

    .nav-liste {
        list-style: none; /* Remove list markers */
        padding: 0;
        margin: 0;
    }

    .nav-iteme {
        list-style: none; /* Remove list marker for a single item */
        padding: 20px; /* Leave space around content */
        width: 300px; /* Adjust width */
        height: 100px; /* Adjust height */
        background-color: #007bff; /* Blue background color used on login pages */
        color: white; /* Set text color to white */
        border-radius: 8px; /* Round edges */
        margin: 0 auto; /* To center */
        text-align: center; /* Center content text */
    }
</style>

<div class="text-center" style="margin-top: 50px; margin-bottom: 150px;">
    <h1 class="display-4">Welcome Kafe Haruno</h1>
</div>
<div>
    <ul class="nav-liste">
        <li class="nav-iteme ms-auto">
            @await Html.PartialAsync("_LoginPartial") <!-- right push with ms-auto class -->
        </li>
    </ul>
</div>
