﻿@{
    ViewData["Title"] = "Home Page";
}

<style>
    .nav-list-user {
        display: flex; /* Use flexbox */
        list-style: none; /* Remove list markers */
        padding: 0; /* Remove default insets */
        margin: 0; /* Remove default outsets */
        justify-content: center; /* Center elements horizontally */
        margin-top: 150px; /* Add space at the top of the list */
    }

    .nav-item-user {
        position: relative; /* For positioning */
        margin-right: 150px; /* Add space between elements */
    }

    .nav-link-user {
        display: block; /* For full coverage */
        width: 150px; /* Button width */
        height: 150px; /* Button height */
        text-align: center; /* Center text */
        color: white; /* Set text color to white */
        text-decoration: none; /* Remove underline */
        background-size: contain; /* Set to cover background image */
        background-repeat: no-repeat; /* Do not repeat background image */
        background-position: center; /* Center background image */
        border-radius: 8px; /* Round edges */
    }



    .table-link-user {
        background-image: url('https://cdn.textstudio.com/text-effect/2297/18359/Tables.webp');
    }
</style>

<div class="text-center" style="margin-top: 50px;">
    <h1 class="display-4">Welcome Kafe Haruno</h1>
</div>

<div class="text-center" style="margin-top: 50px;">
    <ul class="nav-list-user">

        <li class="nav-item-user">
            <a class="nav-link-user table-link-user" asp-controller="Table" asp-action="UserIndex"></a>
        </li>
    </ul>
</div>